.not_found__container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
}
